<center><img src="img/DocBot.png" height="200px"/></center>
<center><h1>Test Phase report</h1></center>
<center><h2>Yoann Masson</h2></center>
*30/03/2017*
**This is an objective report about the test phase.**

At the beginning of the project, we were told that we had to make unit test during the development phase.
We tested the Authentication process using Junit 4, you can find that in the packages test.  We also tested PersonFacade and CommentFacade,
to show that we understood the way of making unitary test, it is in the test.facade. It was important to test PersonFacade since it is one of the most used class. Unfortunately, we did not really focus on testing since we did not have much time. We did not encounter difficulties because Junit4 is user-friendly and we almost all already had experience with Junit. 

I think we should have more time to develop.
